  /* 전체 */
  body{
    font-family: "Inter";
    position: relative;
  }

  /* 제목 */
  .mainName{
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #7009c1;
    margin-top: 150px;
    margin-bottom: 30px;
  }

  /* 폼 */
  section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
   justify-content: center;
  }

  /* 각 덩어리 */
  .input{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
  }

  /* 입력창 제목 */
  .input .label{
    margin-bottom: 3px;
    size: 24px;
    font-weight: 700;
  }

  /* 입력창 */
  .input .textInput{
    height: 41px;
    border: 2px solid black;
    border-radius: 10px;
    /* border-style: hidden; */
    background-color: #d9d9d9;
  }

  .input input:focus{
    background-color: white;
  }

  /* 제출버튼 */
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn{
    width: 100px;
    height: 48px;
    background-color: #7009c1;
    font-weight: 700;
    color: white;
    border-style: hidden;
    border-radius: 15px;
    margin-top: 30px;
  }

  .btn:hover{
    border: 2px solid #7009c1;
    background-color: #FFF;
    color: #7009c1;
  }


  /* 모달창 */
  .modal {
    position: absolute;
    display: flex;
    top: 20%;
    left: 30%;

    width: 40%;
    height: 60%;

    border: 5px solid #7009c1;
    border-radius: 10px;

    visibility: hidden;

    background-color: white;

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .modal button {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .popup{
    margin-top: 10%;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
  }



@media(min-width: 768px){


}

@media(min-width: 1024px){

}